@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins";
}
.toastbody {
  font-size: 15px;
}

:root {
  /* #2a55ff */
  --primary-color: #2a55ff;
  --white-color: #ffffff;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
}

.logo {
  color: var(--white-color);
  font-size: 1.5em;
  font-weight: bold;
}
.navbar {
  box-sizing: border-box;
  width: 100%;
  background: var(--primary-color);
  height: auto;
  position: fixed;
  padding: 10px 10px;
  top: 0%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  flex-wrap: wrap;
}

.search {
  width: 350px;
  height: 40px;
  padding: 1px 20px;
  border-radius: 50px 0px 0px 50px;
  font-size: 17px;
  outline: none;
  border: 2px solid var(--primary-color);
}
.btn-section {
  width: 100%;
  display: flex;
  gap: 5px;
}
.btn-section > button {
  border: 2px solid black !important;
  border-radius: 3px;
}
.links {
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
a {
  text-decoration: none !important;
}
.len {
  cursor: auto !important;
}
.buttons,
.len {
  width: 110px;

  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  border: 2px solid var(--white-color);
  color: var(--white-color);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  box-sizing: border-box;
}
.len {
  width: fit-content;
}
.edit-buttons {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links .active button {
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 2px solid transparent;
}
.readmore {
  height: 40px;
  width: 120px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-size: 15px;
  margin: 5px;
  margin-left: 0px;
  cursor: pointer;
  border-radius: 5px;
}

.md h1 {
  color: black;
}
.md {
  max-height: 115px;
  overflow: hidden;
}

.addblog {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 50px;
  margin-top: 115px;
  overflow: hidden;
}
.addblog input {
  outline: none !important;
  border-bottom: 2px solid black;
  border-radius: 3px;
}
.editfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputfield,
.editfield input {
  width: auto;
  height: 50px;
  font-size: 20px;
  padding: 2px 10px;
  outline: none;
  font-weight: 600;
}

.textfield,
.editfield textarea {
  height: auto;
  width: auto;
  font-size: 17px;
  padding: 5px 10px;
  border: 2px solid black;
}
.editfield textarea {
  min-height: 300px;
}

.editfield input,
.editfield textarea {
  width: 100%;
}
.textfield {
  width: 50%;
  border-radius: 3px;
}
.title {
  color: var(--primary-color);
  font-weight: 500;
  padding-top: 10px;
  margin: 0px;
  font-size: 28px;
}
.postlist {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  border: 3px solid var(--primary-color);
  padding: 5px 10px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: white;
}
.post .date,
.post .time {
  padding: 0px;
  margin: 1px;
}
.date,
.time {
  font-size: 12px;
  font-weight: 500;
}
.del,
.delandedit,
.edit {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0px;
  right: 0;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  z-index: 30;
}
.edit {
  right: 80%;
}

.delandedit {
  display: flex;
  gap: 10px;
  position: absolute;
  z-index: 30;
}
.del img,
.edit img {
  height: 18px;
  width: 18px;
  filter: invert(100%);
}

.totalposts {
  padding: 15px 30px;
  margin: 10px 30px;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 120px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 85%;
}
.addblog button,
.submit,
.cancel {
  width: 100%;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  transition-duration: 1s;
  box-sizing: border-box;
}
.edit-buttons {
  width: 100%;
  display: flex;
  gap: 10px;
}
.submit,
.cancel {
  width: 100%;
}
.blogarea {
  white-space: pre-wrap;
  text-wrap: wrap;
}
.md-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.preview {
  width: 50%;
  border: 2px solid black;
  padding: 10px;
  height: 500px;
  border-radius: 3px;
  overflow: auto;
}
.preview .heading {
  font-size: 20px;
}
.markdown-preview {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.open-post {
  height: fit-content;
  margin-top: 110px;
}
.back {
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  padding: 7px 40px;
  font-size: 17px;
  border-radius: 50px;
  cursor: pointer;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 65px;
  left: 0px;
}
.content {
  width: 80%;
  margin: auto;
  padding: 10px;
  border: 3px solid var(--primary-color);
}
.selector {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 50px;
  top: 70px;
}
.selector > .choice {
  width: 150px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: white;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition-duration: 0.2s;
}
.activeclass {
  background-color: var(--primary-color) !important;
  color: white !important;
}
.searchlist {
  margin-top: 100px;
  padding: 0px 20px;
}
.search-btn {
  color: var(--primary-color);
  background-color: white;
  height: 38px;
  border: none;
  outline: none;
  padding: 4px 15px;
  font-size: 15px;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchfield {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-img {
  height: 25px;
}
.searchpost {
  max-height: 150px;
  overflow: hidden;
}

.logo-search-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  align-items: center;
  box-sizing: border-box;
}

.pagenotfound {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.pagenotfound h1 {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  padding: 10px;
}
.pagenotfound p {
  padding: 10px;
}
.pagenotfound p span {
  color: var(--primary-color);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.loading {
  margin-top: 150px;
  margin-left: 100px;
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }
}

.signinandup {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.signup,
.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 3px solid var(--primary-color);
  padding: 100px 50px;
  border-radius: 3px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.signup h1,
.signin h1 {
  color: var(--primary-color);
}
.credentialsfield-email input,
.credentialsfield-password input {
  height: 40px;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}
.signbuttons {
  height: 40px;
  width: 100px;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: white;
  outline: none;
  border: none;
}
.googlebutton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.googlebutton button {
  border: 2px solid var(--primary-color);
}
.sign-buttons {
  display: flex;
  gap: 10px;
}
.sign:hover {
  background-color: white;
  color: var(--primary-color);
}
.main-container {
  width: 100%;
  display: flex;

  margin: 100px;
  align-items: center;
  justify-content: space-between;
}
.text-container h1 {
  color: var(--primary-color);
  padding: 40px 0px;
  font-size: 40px;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-container p {
  font-size: 20px;
}
.home {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.trynow {
  width: 100%;
  padding: 30px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.trynow button {
  height: 50px;
  width: 300px;
  font-size: 20px;
}
.img-container img {
  height: 350px;
  border-radius: 5px;
  filter: blur(50%);
}
.img-container {
  margin-right: 100px;
}
@media (max-width: 1250px) {
  .logo-search-container {
    max-width: 650px;
  }
}
@media (max-width: 1110px) {
  .logo-search-container {
    gap: 20px;
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: auto;

    flex-direction: column;
    align-items: flex-start;
  }

  .searchfield {
    width: 100%;
  }

  .search {
    width: 100%;
  }

  .links {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
  }
  .md-container {
    display: flex;
    flex-direction: column;
  }
  .textfield {
    width: 100%;
    height: 250px;
  }
  .preview {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 480px) {
  .links {
    flex-direction: row;
  }
  .search {
    height: 40px;
  }

  .postlist {
    margin-top: 180px;
  }
  .open-post {
    margin-top: 200px;
  }

  .search-img {
    width: 16px;
    height: 16px;
  }
  .addblog {
    margin-top: 210px;
  }
  .selector {
    margin-top: 90px;
  }

  .choice {
    border-radius: 20px;
  }
  .md-container {
    flex-direction: column;
    height: 60vh;
  }
  .preview {
    width: 100%;
    height: 50%;
  }
  .textfield {
    width: 100%;
    height: 50%;
  }
  .notfoundcontainer {
    scale: 0.8;
  }
  .img-container {
    display: none;
  }
  .signbar {
    flex-direction: row;
  }
  .main-container {
    margin: 50px !important ;
  }
  .text-container h1 {
    font-size: 25px;
  }
}

@media (max-width: 983px) {
  .navbar {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
  .signbar {
    flex-direction: row;
  }

  .searchfield {
    width: 100%;
  }

  .search {
    width: calc(100% - 40px);
  }
  .open-post {
    margin-top: 200px;
  }
  .back {
    width: 10px;
    top: 155px;
  }
  .postlist {
    margin-top: 170px;
  }
  .links {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
  }
  .addblog {
    margin-top: 160px;
  }
  .selector {
    margin-top: 45px;
  }
  .logo-search-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
}
